{%- extends "base.html" %}

{% block content %}


 <h2 align="left">Contact</h2>
    <p>Never give a drink to Damodar, cause only he does not remember what happens next. </p>

    </div>

    <div id="faculty-sponsor" class="small-box">
        <b>Faculty Sponsor:</b><br>
        Kuo-Pao Yang<br>
        Taipei,Taiwan<br>
    </div>

    <div class="small-box small-box-right">
        <b> postal address:</b><br>
        1000 N Oak St<br>


    </div>
<h2>Contact Form</h2>
<div style="margin-left:50px;" >
 <form class="form">
  <input type="text" name="Name" placeholder="Name"><br> <br>
  <input type="email" name="EMail" placeholder="Email Address"><br><br>
  <input type="text" name="Name" placeholder="Title"><br><br>
  <textarea class="textarea" placeholder="Mesage"> </textarea><br></br>
  <input type="submit">
  </form>











{%- endblock %}